.App {
  text-align: left;
  margin: 0 auto;
  max-width: 60em;
  margin-top: 10rem;
  color: #333;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.right-body {
  opacity: 1;
  transition: 0.7s opacity;
  height: 100%;
  width: 65%;
  float: right;
}

.right-body.fade {
  opacity: 0;
  transition: none;
}

.left-col {
  width: 20%;
  height: 100%;
  float: left;
  position: fixed;
}

.name {
  width: 100%;
  text-align: right;
  justify-content: right;
  font-family: 'Roboto Mono', monospace;
  font-size: x-large;
  font-weight: 500;
  line-height: 1.4em;
}

.nav .nav-content {
  max-width: 900px;
  float: right;
  padding: 0rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.nav.fade {
  opacity: 0;
  transition: none;
}

.nav {
  opacity: 1;
  transition: 2s opacity;
  /* background-color: yellow; */
}

.nav-item {
  display: block;
  text-align: right;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: small;
}

.nav-item .dot {
  visibility: hidden;
  display: inline;
  padding-left: 5px;
  font-weight: 800;
  color: #E4AC00;
  font-size: medium;
}

.nav-item > .active {
  /* border-bottom: 1px solid #333; */
  font-weight: 800;
  color: black;
}

.nav-item > .active .dot {
  visibility: visible;
}

.nav-item:hover {
  color: black;
  cursor: pointer;
}

.title {
  color: #E4AC00;
  font-size: small;
  margin-top: 40px;
  margin-bottom: 0;
}

.about-sub {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  display: inline-block;
  color: #000000;
  margin: 0;
  margin-top: -2px;
}

.about-content {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: black;
  margin-top: 9px;
}

.ed-sub {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  color: black;
  margin: 0;
  margin-top: -4px;
}

.ed-content {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
}

.ed-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 0;
}

.ed-span {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}

.job-sub {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  color: black;
  margin: 0;
  display: inline-block;
}

.job-pos {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: black;
  margin-bottom: 0px;
}

.job-date {
  display: block;
  font-size: small;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.job-content {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-top: 2px;
}

#job {
  margin-top: 25px;
}

#jobs {
  margin-top: -13px;
}

.column {
  float: left;
  width: 33.33%;
}

.column p{
  margin-bottom: 5px;
  margin-top: 0px;
}

.skills{
  margin-top: 12px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.course-column {
  float: left;
  width: 50%;
}

.course-column p{
  margin-bottom: 5px;
  margin-top: 0px;
}

.course-col-sect {
  margin-bottom: 15px;
}

.course-row:after {
  content: "";
  display: table;
  clear: both;
}

.course-school-sub {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  color: black;
}

/* @media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */



