.App {
  text-align: left;
  margin: 0 auto;
  max-width: 50em;
  margin-top: 10rem;
  color: #333;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.right-body {
  opacity: 1;
  transition: 0.7s opacity;
  height: 100%;
  width: 65%;
  float: right;
  padding-left: 0.5rem;
}

.right-body.fade {
  opacity: 0;
  transition: none;
}

.left-col {
  width: 35%;
  height: 100%;
  float: left;
  position: fixed;
  padding-right: 0.5rem;
}

.left-col h1 {
  width: 35%;
  text-align: right;
  justify-content: right;
}

.name {
  font-family: 'Roboto Mono', monospace;
  font-size: x-large;
  font-weight: 500;
}

.nav .nav-content {
  max-width: 900px;
  padding: 0rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.nav.fade {
  opacity: 0;
  transition: none;
}

.nav {
  opacity: 1;
  transition: 2s opacity;
}

.nav-item {
  display: block;
  text-align: right;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: small;
}

.nav-item p {
  visibility: hidden;
  display: inline;
  padding-left: 5px;
  font-weight: 800;
  color: #E4AC00;
  font-size: medium;
}

.nav-item > .active {
  /* border-bottom: 1px solid #333; */
  font-weight: 800;
}

.nav-item > .active p {
  visibility: visible;
}

.nav-item:hover {
  color: black;
  cursor: pointer;
}

.title {
  color: #E4AC00;
  font-size: small;
  margin-top: 40px;
}

.about-sub {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  display: inline-block;
  color: black;
  margin: 0;
}

.about-content {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: black;
  margin-top: 12px;
}

.ed-sub {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  color: black;
  margin: 0;
}

.ed-content {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: black;
  margin-top: 12px;
  margin-bottom: 0px;
}

.ed-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  display: inline-block;
  margin-top: 4px;
}

.ed-span {
  display: inline-block;
  margin-top: 0px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



